{% load static %}
<head>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入Semantic-UI -->
    <link rel="stylesheet" type="text/css" href="{% static 'Semantic-UI-CSS-master/semantic.min.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'Semantic-UI-CSS-master/semantic.min.js' %}"></script>
    <!--MD5加密-->
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
    <script src="{% static 'js/demo.js' %}"></script>

</head>
<style type="text/css">

</style>
<template>
    <a href="#">aaa</a>
    <div class="ui buttons" id="app">
        <div class="ui button" @click='open_aa' _msttexthash="7832253" _msthash="378"><i class="eye icon " style="opacity: 1"></i></div>
        <div class="or"></div>
        <div class="ui blue button" _msttexthash="1952132" _msthash="379"><i class="copy icon " style="opacity: 1"></i></div>
    </div>
</template>